# ignore all files in the current directory
/*

# add .gitignore to the repository
!.gitignore

# add all .custom.
!*.custom.*

# add personal scripts
!/scripts

!/custom_phrase.txt

# add some other files
!README.md
!LICENSE

